#commerce-priceminister-feed-mapping-fields-form .mapped-fields {
  text-align: right;
}

.pm_field {
  width: 20%;
}
.local_field {
  width: 70%;
}
.action {
  text-align: right;
  width: 10%;
}
div.pm_field,
div.local_field,
div.action {
  float: left;
}

div.local_field {
  .form-item.form-type-select,
  .form-item.form-type-textfield {
    float: left;
  }
  .form-item.form-type-select {
    .form-select {
      margin-right: 10px;
    }
  }
}
fieldset.fields-form {
  .fieldset-wrapper {
    form {
      clear: both;
      .form-item {
        float: left;
        margin-right: 10px;
      }
    }
  }
}
